**/__debug_bin
**/__debug_bin.exe
.idea
vendor/**
**/log/**
*.log
*.test
*.pprof
*.pid
.metals
.devcontainer/devcontainer.json
cpu.out
dice.test.exe
double.test.exe
airplane.test.exe
mines.test.exe
server/*.exe
server/*.exe~
gws.exe
gws.exe~
.DS_Store
hallx